[submodule "isa-sim/riscv-isa-sim"]
	path = isa-sim/riscv-isa-sim
	url = https://github.com/riscv/riscv-isa-sim.git
[submodule "software/linux"]
	path = software/linux
	url = https://github.com/firesim/linux.git
